body {
    background-color: #001;
    padding: 2em;
}
.main-title {
    color: #DFF000;
}
main {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
main > section {
    flex: 1;
}
