section {
    & > h1 {
        color: $color-accent-dark;
    }
}
.movie-details-card {
    & > div {
        display: flex;
        justify-content: space-between;

        & > * {
            flex: 1;
        }
        & > aside > img {
            display: block;
            margin: 0 auto;
            height: 80vh;
            border: solid 1px $color-accent-dark;
        }
    }
    & strong {
        color: $color-accent-secondary-dark;
    }
}
